@charset "utf-8";
/*头部样式*/
body{
	padding:0;
	margin:0;
	font-family:微软雅黑;
}
/* 初始化，为了去除默认样式 */
ul.li{
	padding:0;
	margin:0;
}
.content{
	width:100%;
	margin:0 auto;
}
.header{
	height:100px;
	width:1000px;
	background:#DFDFDF;
	margin:0 auto;
}
.header img{
	float:left;
}
.quickLinks{
	width:30%;
	height:50px;
	margin-top:32px;
	float:right;
	text-align:center;
}
.quickLinks a{
	display:inline-block;
	width:60px;
	height:36px;
	border:1px #1176DB solid;
	color:#1176DB;
	text-decoration:none;
	font-size:12px;
	line-height:36px;
}
.quickLinks a:hover{
	box-shadow: 0 0 10px #98CCFC;.
	}
/*----------------造轮子 组件 可以重复使用的--------------*/
.title{
	color:#2582cc;
	font-weight:bold;
	font-size:20px;
	}

/*----------------导航样式--------------*/
.nav{
	width:100%;
	height:60px;
	background:#0a86d4;
	
}
.nav ul li{
	text-align:center;
	list-style:none;
	float:left;
	width:100px;
	height:60px;
	line-height:60px;
	
}
.nav ul li a{
	display:block;
	width:100px;
	height:60px;
	color:white;
	text-decoration:none;
}
.nav ul{
	width:800px;
	margin:0 auto;
}
.nav ul li:hover{
	background:#0a507d;
	transition:2s;
}
/*----------------导航样式结束---------------------------*/
/*----------------banner开始---------------------------*/
.banner{
	width:100%;
	background:url("../img/banner2.jpg")no-repeat;
	background-size:100%;
	
}
	.swiper-container{
		width:100%;
	
	}
/*----------------banner结束---------------------------*/
/*----------------container开始---------------------------*/
.container{
	width:1000px;
	margin:0 auto;
	border:1px #bbb solid;
	}
.row{
	width:100%;
	height:280px;
	margin-top:20px;
	}
#cols-2{
	width:350px;
	}
#cols-2 ul{
	margin-top:40px;
	}
#cols-2 ul li{
	list-style:none;
	margin-top:10px;
    }
.channel{
	font-size:12px;
	color:#bbb;
	}
.datetime{
	font-size:12px;
	float:right;
	color:#bbb;
	}
#cols-2 ul li a{
	color:#5d5d5d;
	text-decoration:none;
	}
#cols-2 ul li a:hover{
	color:#06F;
	}
#cols-3{
	width:250px;
	}
.cols{
	width:300px;
	height:250px;
	margin-left:25px;
	float:left;
	}
#cols-3 p{
	/*上 下 左 右*/
	/*padding:0 5px 0 5px;*/
	padding:0 5px;
	}
/*新闻幻灯*/
#newsSwiper{
	margin:30px 0 0 0;
	height:220px;
	}
.newsTitle{
	width:100%;
	height:30px;
	line-height:30px;	
	color:#ffffff;
	font-size:14px;
	text-align:center;
	position:absolute;
	bottom:0;
	z-index:999;
	background:#000;
	opacity:0.5;
	}